/* 
    Document   : inde
    Created on : 01 25, 12, 8:37:41 PM
    Author     : SSI
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#wrapper.home.index #content-wrapper {
    border: 0;
    width: auto;
    background: transparent;
    margin: 0;
}

#login-wrapper {
    position: relative;
    width: 720px;
    margin: 50px auto 0;
}

#login-wrapper > section {
    overflow: hidden;
    background: #FFF;
    width: 100%;
/*    height: 470px;*/
    border:5px solid #0599e3;
    border-bottom:15px solid #0599e3;
    -webkit-box-shadow:0 5px 15px #0599e3;
    -khtml-box-shadow:0 5px 15px #0599e3;
    -moz-box-shadow:0 5px 15px #0599e3;
    box-shadow:0 5px 15px #0599e3;
    -webkit-border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    -moz-border-radius-topLeft:15px;
    -moz-border-radius-topRight:15px;
    -khtml-border-radius-topLeft:15px;
    -khtml-border-radius-topRight:15px;
}

section > article.primary {
    float: left;
    position: relative;
    width: 484px;
    height: 100%;
    overflow: hidden;
    line-height: 0;
}

section > article.aside {
    height: 100%;
    overflow: hidden;
}

#company-logo {    
    text-align: center;
    overflow: hidden;
}

#company-logo > img {
    width: 330px;
    height: 210px;    
}

#building {
    overflow: hidden;
}

#building > img {
    width: 500px;
    height: 168px;
}

#company-logo #manage {
    position: absolute;
    top: 135px;
    bottom: 0;
    width: 231px;
    right: 44px;
    font-size: 13px;
    font-family: "Segoe UI","Arial","Tahoma",sans-serif;
    font-weight: bold;
    color: #888;
}

.login-main-content
{
    padding:15px;
}

#login {
    overflow: hidden;
}

#login #info-message {
    color: red;
    text-align: left;
    padding-left: 30px;
}

#login-form {
    border:0;
    border-left:1px solid #eee;
    float:right;
    display:block;
    padding:30px;
    min-height:270px;
}

#login-form p#remember-me {
    margin-bottom: 0;
}

#login-form p {
    margin-bottom: 10px;
}

#login-form p#remember-me > input {
    width: auto;
    float: left;
}

#login-form input {
    margin: 5px 0 10px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    padding:10px 15px;
    width: auto;
    height:15px;
    outline:none;
    border:1px solid silver;
    font-size:12px;
    font-family:"Tahoma";
    box-shadow:0 0 5px #ccc inset;
    -webkit-box-shadow:0 0 5px #ccc inset;
    -khtml-box-shadow:0 0 5px #ccc inset;
    -moz-box-shadow:0 0 5px #ccc inset;
}

#login-form input:hover {
    box-shadow: 0 0 11px #ddd;
    -webkit-box-shadow: 0 0 11px #ddd;
    -khtml-box-shadow: 0 0 11px #ddd;
    ,mnz,bnx,shadow: 0 0 11px #ddd;
}

#login-form input:focus {
    box-shadow:0 0 13px #19D119;
    -webkit-box-shadow:0 0 13px #19D119;
    -khtml-box-shadow:0 0 13px #19D119;
    -moz-box-shadow:0 0 13px #19D119;
    border-color:#19D119;
}

#login-form label {
    margin-top:10px;
    font-family:"Impact";
    font-size:15px;
    letter-spacing:3px;
    color:#666;
}

#login-form label[for="remember"] {
    margin-left: 10px;
    margin-top: 0;
    letter-spacing: 0;
    font-size: 12px;
    font-family: "Lucida Grande","Arial Narrow";
}

#login-footer {
    overflow: hidden;
    width: 690px;
    height: 50px;
    margin: 0px auto;
    margin-bottom: 0;
    border: 5px solid #0599e3;
    border-top: 0;
    padding: 15px;
    background: #0599e3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0599e3', endColorstr='#006699');
    background: -webkit-gradient(linear, left top, left bottom, from(#0599e3), to(#006699)); 
    background: -moz-linear-gradient(top,  #0599e3,#006699);
    -webkit-box-shadow: 0 5px 15px #0599e3;
    -khtml-box-shadow: 0 5px 15px #0599e3;
    -moz-box-shadow: 0 5px 15px #0599e3;
    box-shadow: 0 5px 15px #0599e3;
}

#login-footer span {
    float: left;
    color: white;
    font-family: "Tahoma";
    font-size: 10px;
    margin-top: 50px;
}

#login-footer span img {
    margin-top: -20px;
}

#login-footer #external-links {
    min-width: 100px;
    margin-top:-20px;
    float:right;
}

#login-footer #external-links b {
    font-family: "Tahoma", sans-serif;
    color:#fff;
    font-size:11px;
    font-weight: bold;
}

#login-footer ul.icon-pages-list {
    margin-top:10px;
}

#login-footer ul.icon-pages-list li {
    list-style:none;
}

#login-footer ul.icon-pages-list img {
    float: left;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    border: 0;
    outline: none;
    padding: 0;
}
#login-footer ul.icon-pages-list img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

#btn-submit {
    display: block;
    float: right;
    margin-top: 30px;
}