/*
    Document   : base
    Created on : 01 25, 12, 12:23:36 AM
    Author     : SSI
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

ul li{
    list-style: none;
}

article {
    line-height: 0;
}

label, p, span, h1, h2, h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
}

.hide {
    display: none;
}

.block {
    display: block;
}

.font-bold {
    font-weight: bold;
}

a {
    text-decoration: none;
}

span.loader, div.loader {
    background: url('../image/ajax-loader.GIF') no-repeat;
    width: 16px;
    height: 16px;
}

fieldset {
    position: relative;
}

label.error {
    color: red !important;
    font-size: 0.75em;
    top: 0;
    position: absolute;
    left: 325px;
    width: auto !important;
}

a {
    color: #00E;
}

a:visited {
    color: #00E;
}