/*
    Document   : base
    Created on : 01 25, 12, 12:23:36 AM
    Author     : SSI
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

ul li{
    list-style: none;
}

article {
    line-height: 0;
}

label, p, span, h1, h2, h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
}

body .hide {
    display: none;
}

.block {
    display: block;
}

.font-bold {
    font-weight: bold;
}

a {
    text-decoration: none;
}

span.loader, div.loader {
    background: url('../image/ajax-loader.GIF') no-repeat;
    width: 16px;
    height: 16px;
}

fieldset {
    position: relative;
}

label.error {
    color: red !important;
    font-size: 0.75em;
    top: 0;
    position: absolute;
    left: 325px;
    width: auto !important;
}

a {
    color: #00E;
}

a:visited {
    color: #00E;
}

.aligned-details {
    margin-top: 20px;
}

.aligned-details > h1 {
    border-bottom: gainsboro 1px solid;
    color: black;
    font-size: 1.5em;
    line-height: 20px;
    margin: 10px 0;
    padding: 0 0 10px 27px;
    background: url('../../image/icons/30x30-common-icons-sprite.png') no-repeat scroll transparent;
    background-position: -5px -1115px;
}

.aligned-details > h3,
.aligned-details > h3 {
    border-bottom: 1px solid #F3EFEF;
    color: #48A;
    font-weight: bold;
    line-height: 14px;
    margin: 0;
    padding: 0 0 10px 10px;
}

.aligned-details > h3 .edit-link {
    font-size: 0.75em;
    float: right;
    margin-right: 30px;
}

.aligned-details fieldset {
    border-bottom: 1px solid #F3EFEF;
}

.aligned-details fieldset.form-buttons {
    border-bottom: none;
}

.aligned-details fieldset > label {
    color: #979797;
    float: left;
    line-height: 36px;
    text-align: left;
    width: 145px;
    padding-left: 10px;
}

.aligned-details fieldset > span {
    float: left;
    right: 0;
    line-height: 36px;
    width: 260px;
}
.aligned-details div.loader {
    margin: 50px auto;
}

fieldset input {
    margin-top: 8px;
}

fieldset.form-buttons {
    margin-left: 152px;
}

fieldset.form-buttons span.loader {
    width: 16px;
    position: absolute;
    top: 13px;
    left: 121px;
    overflow: hidden;
}

section.items-list-wrapper header {
    background: #BFD4D4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BFD4D4', endColorstr='#85ADAD');
    background: -webkit-gradient(linear, left top, left bottom, from(#BFD4D4), to(#85ADAD));
    background: -moz-linear-gradient(top, #BFD4D4, #85ADAD);
    border-bottom: 1px solid #5D7979;
    height: 28px;
    padding: 10px;
    overflow: hidden;
}

section.items-list-wrapper header h1 {
    color: #243636;
    text-shadow: 0 1px 0px #D1E0E0;    
    font-weight: bold;    
    font-size: 1.5em;
    float: left;
}

section.items-list-wrapper header #range {
    float: left;
    overflow: hidden;
    padding-left: 20px;
}

section.items-list-wrapper .items-list {
    width: 100%;
}

section.items-list-wrapper .items-list thead th {
    border: 1px solid #E6EEEE;
    font-family: "Tahoma";
    font-weight: bold;
    font-size: 0.85em;
    color: #444;
    padding: 10px 0;
    background: #DFE4E4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFE4E4', endColorstr='#C2D6D6');
    background: -webkit-gradient(linear, left top, left bottom, from(#DFE4E4), to(#C2D6D6));
    background: -moz-linear-gradient(top, rgb(223, 228, 228), #C2D6D6);
    text-transform: capitalize;
}

section.items-list-wrapper .items-list tbody tr {
    border-collapse: collapse;
}

section.items-list-wrapper .items-list tbody td{
    border: 1px solid #E6EEEE;
    padding: 4px 0 0 13px;
    font-family: "Tahoma";
    font-size: 11px;
    color: #444;
    height: 20px;
    text-shadow: 0px 1px 0px #D1E0E0;
}

