/*
    Document   : list
    Created on : Feb 9, 2012, 6:27:40 PM
    Author     : marc
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}

#control-manager-nav {
    margin-top: 20px;
}

#control-manager-nav li {

}

#control-manager-nav a {
    padding: 7px 5px;
    display: block;
    font-family: 'Times New Roman';
    font-size: 0.85em;
}

#control-manager-nav a.active {
    background-color: #D8DFEA;
    font-weight: bold;
}

#control-manager-nav a:hover {
    background-color: #CCD4E0;
}

#wrapper.control_manager.index #user-table-wrapper,
#wrapper.control_manager.archive #user-table-wrapper {
    display: block;
    width: 550px;
    margin: 30px auto;
    border-top: 2px solid #CCC;
    padding: 10px 10px 0;
}

#wrapper.control_manager.index #user-list,
#wrapper.control_manager.archive #user-list{
    width: 100%;
    margin-bottom: 20px;
}

#wrapper.control_manager.index #user-list_info,
#wrapper.control_manager.archive #user-list_info {

}
#wrapper.control_manager.index #user-list tbody tr:hover,
#wrapper.control_manager.archive #user-list tbody tr:hover{
    background-color: #D3D6FF !important;
}

#user-list th.no-sort {
    background: none !important;
}

#user-list tbody tr td.action {
    position: relative;
}

#user-list tbody tr td a.edit-profile,
#user-list tbody tr td a.delete-profile,
#user-list tbody tr td a.activate-profile {
    display: block;
    font-size: 13px;
    padding-left: 20px;
}

#user-list tbody tr td a.edit-profile:hover,
#user-list tbody tr td a.activate-profile:hover,
#user-list tbody tr td a.delete-profile:hover {
    text-decoration: underline;
}

#user-list tbody tr td.action i {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    background: url('../../../image/icons/fb_icons.png') no-repeat 0 0;
    background-position: 3px -100px;
}

#user-list tbody tr td.delete i {
    background-position: -36px -100px;
    left: 13px;
    top: 5px;
}

#user-list tbody tr td.activate i {
    background-position: -32px -86px;
    left: 13px;
    top: 4px;
    width: 16px;
    height: 16px;
}

#user-list tbody tr.row_selected {
    background-color: #D3D6FF;
}

#user-list tbody td.sorting_1 {
    background: none;
}