#wrapper.users.show #user-details > h1,
#wrapper.users.edit #user-details > h1 {
    border-bottom: gainsboro 1px solid;
    color: black;
    font-size: 1.5em;
    line-height: 20px;
    margin: 10px 0;
    padding: 0 0 10px 27px;
    background: url('../../image/icons/30x30-common-icons-sprite.png') no-repeat scroll transparent;
    background-position: -5px -1115px;
}

#wrapper.users.show #personal-info > h3,
#wrapper.users.edit #personal-info > h3,
#wrapper.users.show #password-settings > h3,
#wrapper.users.edit #password-settings > h3,
#wrapper.users.show #security-settings > h3,
#wrapper.users.edit #security-settings > h3,
#wrapper.users.show #employment-info > h3,
#wrapper.users.edit #employment-info > h3 {
    border-bottom: 1px solid #F3EFEF;
    color: #48A;
    font-weight: bold;
    line-height: 14px;
    margin: 0;
    padding: 0 0 10px 10px;
}

#wrapper.users.show #personal-info > h3 .edit-link,
#wrapper.users.show #password-settings > h3 .edit-link,
#wrapper.users.show #security-settings > h3 .edit-link {
    font-size: 0.75em;
    float: right;
    margin-right: 30px;
}

#wrapper.users.show #personal-info fieldset,
#wrapper.users.edit #personal-info fieldset,
#wrapper.users.show #security-settings fieldset,
#wrapper.users.edit #security-settings fieldset,
#wrapper.users.show #password-settings fieldset,
#wrapper.users.edit #password-settings fieldset,
#wrapper.users.show #employment-info fieldset,
#wrapper.users.edit #employment-info fieldset {
    border-bottom: 1px solid #F3EFEF;
}

#wrapper.users.show #personal-info fieldset > label,
#wrapper.users.edit #personal-info fieldset > label,
#wrapper.users.show #security-settings fieldset > label,
#wrapper.users.edit #security-settings fieldset > label,
#wrapper.users.show #password-settings fieldset > label,
#wrapper.users.edit #password-settings fieldset > label,
#wrapper.users.show #employment-info fieldset > label,
#wrapper.users.edit #employment-info fieldset > label {
    color: #979797;
    float: left;
    line-height: 36px;
    text-align: left;
    width: 145px;
    padding-left: 10px;
}

#wrapper.users.show #personal-info fieldset > span,
#wrapper.users.edit #personal-info fieldset > span,
#wrapper.users.show #security-settings fieldset > span,
#wrapper.users.edit #security-settings fieldset > span,
#wrapper.users.show #password-settings fieldset > span,
#wrapper.users.edit #security-settings fieldset > span,
#wrapper.users.show #employment-info fieldset > span,
#wrapper.users.edit #employment-info fieldset > span {
    float: left;
    right: 0;
    line-height: 36px;
    width: 260px;
}

#employment-info, #personal-info, #security-settings, #password-settings {
    margin-top: 20px;
}

#personal-info {
    min-height: 359px;
}

#personal-info div.loader,
#security-settings div.loader,
#password-settings div.loader {
    margin: 50px auto;
}

fieldset input {
    margin-top: 8px;
}

fieldset.form-buttons {
    margin-left: 152px;
}

fieldset.form-buttons span.loader {
    width: 16px;
    position: absolute;
    top: 13px;
    left: 121px;
    overflow: hidden;
}