#wrapper.users.show #user-details > h1,
#wrapper.users.edit #user-details > h1 {
    border-bottom: gainsboro 1px solid;
    color: black;
    font-size: 1.5em;
    line-height: 20px;
    margin: 10px 0;
    padding: 0 0 10px 27px;
    background: url('../../image/icons/30x30-common-icons-sprite.png') no-repeat scroll transparent;
    background-position: -5px -1115px;
}

#wrapper.users.show #personal-info > h3,
#wrapper.users.edit #personal-info > h3,
#wrapper.users.show #employment-info > h3,
#wrapper.users.edit #employment-info > h3 {
    border-bottom: 1px solid #F3EFEF;
    color: #48A;
    font-weight: bold;
    line-height: 14px;
    margin: 0;
    padding: 0 0 10px 10px;
}

#wrapper.users.show #personal-info > h3 #edit-account {
    font-size: 0.75em;
    margin-left: 450px;
}

#wrapper.users.show #personal-info fieldset,
#wrapper.users.edit #personal-info fieldset,
#wrapper.users.show #employment-info fieldset,
#wrapper.users.edit #employment-info fieldset {
    border-bottom: 1px solid #F3EFEF;
}

#wrapper.users.show #personal-info fieldset > label,
#wrapper.users.edit #personal-info fieldset > label,
#wrapper.users.show #employment-info fieldset > label,
#wrapper.users.edit #employment-info fieldset > label {
    color: #979797;
    float: left;
    line-height: 36px;
    text-align: left;
    width: 145px;
    padding-left: 10px;
}

#wrapper.users.show #personal-info fieldset > span,
#wrapper.users.edit #personal-info fieldset > span,
#wrapper.users.show #employment-info fieldset > span,
#wrapper.users.edit #employment-info fieldset > span {
    float: left;
    right: 0;
    line-height: 36px;
    width: 260px;
}

#employment-info, #personal-info {
    margin-top: 20px;
}
