#new-employee-dialog, #edit-employee-dialog {
    min-height: 150px;
}

#new-employee-dialog section ul.ui-tabs-nav,
#edit-employee-dialog section ul.ui-tabs-nav {
    padding: 0 0 5px;
    margin: 0;
    background: none;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid #888;
    overflow: hidden;
}

#new-employee-dialog section ul.ui-tabs-nav li,
#edit-employee-dialog section ul.ui-tabs-nav li {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#new-employee-dialog section ul.ui-tabs-nav li a,
#edit-employee-dialog section ul.ui-tabs-nav li a {
    display: block;
    width: 100%;
}

#new-employee-dialog div.ui-tabs-panel,
#edit-employee-dialog div.ui-tabs-panel {
    background: #eee;
    min-height: 150px;
    margin-left: 5px;
}

#new-employee-dialog .ui-tabs-panel label,
#edit-employee-dialog .ui-tabs-panel label {
    width: 130px;
    display: inline-block;
}

#new-employee-dialog div.buttons-wrapper,
#edit-employee-dialog div.buttons-wrapper {
    float: right;
    margin-top: 30px;
}

#new-employee-dialog div#employment-info,
#edit-employee-dialog div#edit-employment-info {
    margin-top: 0;
}

#new-employee-dialog #employment-info #work-experience,
#edit-employee-dialog #edit-employment-info #work-experience,
#new-employee-dialog #payroll #other-payroll,
#edit-employee-dialog #edit-payroll #other-payroll {
    margin: 20px 0 30px;
    border-top: 1px solid #888;
    padding-top: 20px;
}

#new-employee-dialog div.ui-tabs-panel h1,
#edit-employee-dialog div.ui-tabs-panel h1 {
    text-decoration: underline;
}

#new-employee-dialog #general fieldset textarea,
#edit-employee-dialog #edit-general fieldset textarea {
    width: 120px;
}

#new-employee-dialog #general fieldset label.error,
#edit-employee-dialog #edit-general fieldset label.error,
#new-employee-dialog .work-experience-details fieldset label.error,
#new-employee-dialog #educational-background fieldset label.error,
#new-employee-dialog #payroll fieldset label.error,
#edit-employee-dialog #edit-payroll fieldset label.error,
#new-employee-dialog #employment-info fieldset label.error,
#edit-employee-dialog #edit-employment-info fieldset label.error {
    top: 12px;
    font-size: 0.85em;
    left: 298px;
}

#new-employee-dialog #employment-info #work-experience work-description,
#edit-employee-dialog #edit-employment-info #work-experience work-description{
    min-width: 250px;
    max-width: 250px;
}

#new-employee-dialog #employment-info #add-work-experience,
#edit-employee-dialog #edit-employment-info #add-work-experience {
    margin: 5px 0 0 137px;
}

#employment-info .work-experience-details,
#edit-employment-info .work-experience-details,
#educational-background .educational-background-details,
#edit-educational-background .educational-background-details {
    border-top: solid 2px #373939;
    margin-top: 10px;
}

#employment-info .work-experience-details header,
#edit-employment-info .work-experience-details header,
#educational-background .educational-background-details header,
#edit-educational-background .educational-background-details header {
    background: #94959D;
    padding: 5px;
}
#employment-info .work-experience-details header > ul,
#edit-employment-info .work-experience-details header > ul,
#educational-background .educational-background-details header > ul,
#edit-educational-background .educational-background-details header > ul {
    overflow: hidden;
    padding: 10px 0;
}

#employment-info .work-experience-details header > ul li,
#edit-employment-info .work-experience-details header > ul li,
#educational-background .educational-background-details header > ul li,
#edit-educational-background .educational-background-details header > ul li {
    float: left;
}

#employment-info .work-experience-details .company-title,
#edit-employment-info .work-experience-details .company-title {
    width: 130px;
    margin-left: 20px;
}
#employment-info .work-experience-details .start-date,
#edit-employment-info .work-experience-details .start-date,
#employment-info .work-experience-details .end-date,
#edit-employment-info .work-experience-details .end-date {
    width: 80px;
}
#employment-info .work-experience-details .work-desc,
#edit-employment-info .work-experience-details .work-desc {
    width: 158px;
}

#employment-info .work-experience-details article,
#edit-employment-info .work-experience-details article,
#educational-background .educational-background-details article,
#edit-educational-background .educational-background-details article {
    border: 1px solid #888;
    padding: 5px;
    overflow: hidden;
}

#employment-info .work-experience-details article ul li,
#edit-employment-info .work-experience-details article ul li,
#educational-background .educational-background-details article ul li,
#edit-educational-background .educational-background-details article ul li {
    overflow: hidden;
    margin-bottom: 5px;
}
#employment-info .work-experience-details article ul li > div,
#edit-employment-info .work-experience-details article ul li > div,
#educational-background .educational-background-details article ul li > div,
#edit-educational-background .educational-background-details article ul li > div{
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
#employment-info .work-experience-details li .company-work-exp,
#edit-employment-info .work-experience-details li .company-work-exp {
    width: 130px;
}
#employment-info .work-experience-details li .date-work-exp,
#edit-employment-info .work-experience-details li .date-work-exp {
    width: 80px;
}
#employment-info .work-experience-details .desc-work-exp,
#edit-employment-info .work-experience-details .desc-work-exp {
    width: 158px;
}
#employment-info .work-experience-details .delete-work-exp,
#edit-employment-info .work-experience-details .delete-work-exp,
#educational-background .educational-background-details li .delete-edu-background,
#edit-educational-background .educational-background-details li .delete-edu-background {
    width: 20px;
}
#employment-info .work-experience-details .delete-work-exp a,
#edit-employment-info .work-experience-details .delete-work-exp a,
#educational-background .educational-background-details li .delete-edu-background a,
#edit-educational-background .educational-background-details li .delete-edu-background a {
    background: url('../../image/icons/30x30-common-icons-sprite.png') no-repeat -6px -547px transparent;
    display: block;
    text-indent: -2000em;
    height: 16px;
}

#educational-background .educational-background-details header > li.school-name,
#edit-educational-background .educational-background-details header > li.school-name {
    width: 150px;
    margin-left: 20px;
}
#educational-background .educational-background-details header > li.year-graduated,
#edit-educational-background .educational-background-details header > li.year-graduated {
    width: 100px;
}
#educational-background .educational-background-details header > li.remarks,
#edit-educational-background .educational-background-details header > li.remarks {
    width: 200px;
}
#educational-background .educational-background-details li .school-name-background,
#edit-educational-background .educational-background-details li .school-name-background {
    width: 150px;
}
#educational-background .educational-background-details li .year-graduated-background,
#edit-educational-background .educational-background-details li .year-graduated-background {
    width: 100px;
}
#educational-background .educational-background-details li .remarks-background,
#edit-educational-background .educational-background-details li .remarks-background {
    width: 180px;
}

#pagination {
    float: right;
    margin: 0 15px 15px 0;
}

.buttons-wrapper span.loader.hide {
    display: none;
}

.items-list-wrapper .table-list tbody td.background {
    width: 12px;
    height: 24px;
}

.items-list-wrapper .table-list tbody td.female.background {
    background: url('../../image/icons/empGirlIcon.png') no-repeat;
}

.items-list-wrapper .table-list tbody td.male.background {
    background: url('../../image/icons/empBoyIcon.png') no-repeat;
}

.items-list-wrapper .table-list tbody tr.inactive td.background {
    background: url('../../image/icons/deleted-icon.png') no-repeat;
}

